@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import "aos/dist/aos.css";
@import "@glidejs/glide/dist/css/glide.core.min.css";
@import "@glidejs/glide/dist/css/glide.theme.min.css";

:root {
    --primary: #123b84;
    --color-secondary: 210 20% 90%;
}

@theme {
    --color-primary: var(--primary);
    --color-secondary: hsl(var(--color-secondary));
    --font-sans: "Hind", ui-sans-serif, system-ui, sans-serif;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1001px;
    --spacing-tablet: 768px;
    --spacing-desktop: 1000px;
}

.card-hover {
    @apply transform transition-transform transition-shadow duration-1000 ease-out cursor-pointer bg-white rounded-lg shadow-md;
}

.card-hover:hover {
    @apply -translate-y-1 shadow-lg scale-[1.02];
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;
    /* ajusta a tu diseño */
}

.carousel-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    /* animación suave */
    will-change: transform;
}

.carousel-slide {
    flex: 0 0 100%;
    /* cada slide ocupa todo el ancho */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width {
    max-width: 1000px;
    padding-inline: 16px;

    @media (min-width: 1001px) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 0 0 0rem;
}
.main__container {
    overflow: hidden;
}

.text-title {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #000000;
}

.text-title2 {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #000000;
}

.text-description {
    font-size: 14px;
    font-weight: 400;
    color: #6b7280;
}

.text-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.text-description2 {
    font-size: 14px;
    font-weight: 400;
    color: #6b7280;
}

@media (min-width: 768px) {
    .header-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0.75rem 1rem 0 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .main__container {
        overflow: auto !important;
    }
    .text-description {
        font-size: 14px;
    }
    .text-title2 {
        font-size: 24px !important;
    }
}

@media (min-width: 1001px) {
    .header-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}
.error {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    color: red;
    margin-top: 4px;
}
.auth {
    max-width: 400px;
    margin: 100px auto;
}
.form-group {
    margin-bottom: 2rem;
}
.error {
    font-size: 0.75rem;
    font-weight: 500;
    color: red;
    line-height: 16px;
}
