@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
  --primary: #123B84;
  --color-secondary: 210 20% 90%;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: hsl(var(--color-secondary));
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.max-width{
    max-width: 1200px;
    padding-inline: 16px;
    @media (min-width: 1201px) {
        padding-left: 0rem;
        padding-right: 0rem;

    }
}


.header-container {
  display: flex;
  flex-direction: column;
  max-width: 1201px; /* 1280px */
  padding: 0 0 0 1rem; /* top 0, right 0, bottom 0, left 1rem */
}

/* A partir de md (768px) */
@media (min-width: 768px) {
  .header-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem 1rem 0 1rem; /* top, right, bottom, left */
    justify-content: space-between;
    align-items: center;
  }
}

/* A partir de xl (1281px) */
@media (min-width: 1281px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
}

